<h1>Data Science Tools and Ecosystem<h1>

<h4>In this notebook, Data Science Tools and Ecosystem are summarized.<h4>

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

<h4>Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn<h4>

| Data Science Tools |
|-------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [1]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
print(result)  # Output should be 17

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
print(hours)  # Output will be approximately 3.33

3.3333333333333335

**Objectives:**
- List popular languages for Data Science.
- List commonly used libraries in Data Science.
- Introduce arithmetic expressions in Python.
- Evaluate arithmetic expressions using Python code.

<h2>Author<h2>
Rutuj Nagrale